*.user
ZGLSource/visualinfo.c
ZGLSource/glewinfo.c
*.autosave
*.sln
*.vcxproj
*.filters
*.opendb
*.db
*.exe
*.pdb
*.tlog
*.obj
*.log
*.suo
*.ilk
ClearColor/debug/moc_MainWindow.cpp
Test0/release/moc_MainWindow.cpp
Test0/debug/moc_MainWindow.cpp
ClearColor1/release/moc_MainWindow.cpp
ClearColor1/debug/moc_MainWindow.cpp